<%- include("partials/header.ejs") %>
    <!-- ========== Start  section of video banner ========== -->
    <div class="video-container">
        <video autoplay muted loop>
            <source src="./video/video-banner/childeren-video.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div class="video-overlay">
            <div>
                <h1 class="display-4"><strong>
                        <%= children.videoBanner.headingDisplay%>
                    </strong></h1>
                <p class="lead">
                    <%= children.videoBanner.pLead %>
                </p>
            </div>
        </div>
    </div>

    <!-- ========== End  section of video banner ========== -->
    <div class="bg-body-tertiary pb-5 pt-5">
        <!-- ========== Start Section of the main content of the children ministry ========== -->
        <div class="container-fluid">
            <h2 class="text-center display-6" id="topHeading">
                <%= children.heading %>
            </h2>
            <h2>
                <%= children.leaders.heading%>
            </h2>
            <p>
                <%= children.leaders.p %>:
            </p>
            <h2>
                <%= children.leaders.leader.name %> - <%= children.leaders.leader.positionHeld %>
            </h2>
            <p>
                <%= children.leaders.leader.bio%>
            </p>
            <h2>
                <%= children.sundaySchool.name %>
            </h2>
            <p>
                <%= children.sundaySchool.bio %>
            </p>

            <ul>
                <% children.sundaySchool.lists.map((list)=>{ %>
                    <li>
                        <p>
                            <strong<%= list.heading %>:</strong>
                                <%= list.text %>
                        </p>
                    </li>
                    <% }) %>
            </ul>
            <h2>
                <%= children.volunteer.heading %>
            </h2>
            <p class="pb-5">
                <%= children.volunteer.text %>
            </p>
            <h2 class="display-6 text-center">
                <%= children.ourKids.heading %>
            </h2>
            <h3 class="text-center">
                <%= children.ourKids.subHeading %>
            </h3>
            <% children.ourKids.facebookURL.map((url)=>{ %>
                <iframe class="mb-4 d-none d-md-block " src=<%=url %>
                    width="98%" height="700px" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                    allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture;
                    web-share"
                    allowFullScreen="true"></iframe>
                <iframe class="mb-4 d-block d-md-none " src=<%=url %>
                    width="98%" height="373px" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                    allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture;
                    web-share"
                    allowFullScreen="true"></iframe>
                <% }) %>

                    <p class="lead text-center display-6">
                        <%= children.ourKids.pLead %>:
                    </p>
                    <% children.ourKids.youtubeURL.map((content)=>{ %>
                        <iframe class="pt-5" width="100%" height="500" src=<%=content.url %> title="YouTube video
                            player"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;
                            picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        <p class="lead text-center fw-bold">
                            <%= content.pLead %>
                        </p>
                        <% }) %>
                            <h2 class="display-5">
                                <%= children.getInvolved.heading %>
                            </h2>
                            <% children.getInvolved.involved.map((involve)=>{ %>
                                <h2>
                                    <%= involve.heading %>:
                                </h2>
                                <p>
                                    <%= involve.text %>
                                </p>
                                <% }) %>
        </div>
    </div>
    <!-- ========== End Section of the main content of the children ministry ========== -->
    </div>
    <%- include("partials/footer.ejs") %>