<%- include("partials/header.ejs") %>
    <!-- ========== End Section of navigation bar ========== -->

    <!-- ========== Start  section of video banner ========== -->
    <div class="video-container">
        <video autoplay muted loop>
            <source src="./video/donate.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div class="video-overlay">
            <div>
                <h1 class="display-4">
                    <%= events.videoBanner.headingDisplay %>
                </h1>
                <p class="lead">
                    <%= events.videoBanner.pLead %>
                </p>
            </div>
        </div>
    </div>

    <!-- ========== End  section of video banner ========== -->

    <!-- ========== Start section of the welcome message ========== -->
    <div class="container-fluid pt-5 pb-5" style="width: 100%;">
        <h2 class="display-6 text-center">
            <%= events.heading %>
        </h2>
        <div class="d-flex flex-column align-items-center" style="width: 100%;">
            <% events.videos.map((videos)=>{ %>
                <h3 class="text-center">
                    <%= videos.heading %>
                </h3>
                <% videos.video.map((url)=>{ %>
                    <iframe class="mb-4 d-none d-md-block " src=<%=url %>
                        width="98%" height="700px" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                        allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture;
                        web-share"
                        allowFullScreen="true"></iframe>
                    <iframe class="mb-4 d-block d-md-none " src=<%=url %>
                        width="98%" height="314px" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                        allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture;
                        web-share"
                        allowFullScreen="true"></iframe>
                    <% }) %>
                        <% }) %>
        </div>
    </div>
    <!-- ========== End section of the welcome message ========== -->
    <%- include("partials/footer.ejs") %>