<%- include("partials/header.ejs") %>
    <!-- ========== Start  section of video banner ========== -->
    <div class="video-container">
        <video autoplay muted loop>
            <source src="./video/video-banner/get-involved.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div class="video-overlay">
            <div>
                <h1 class="display-4"><strong>
                        <%= getInvolved.videoBanner.headingDisplay %>
                    </strong></h1>
                <p class="lead">
                    <%= getInvolved.videoBanner.pLead %>
                </p>
            </div>
        </div>
    </div>

    <!-- ========== End  section of video banner ========== -->
    <div class="bg-body-tertiary pb-5 p-4 pt-5">
        <h2 class="display-5" style="text-align: center;">
            <%= getInvolved.heading %>
        </h2>
        <p style="text-align: center;">
            <%= getInvolved.p %>
        </p>
        <h2 class="display-6">
            <%= getInvolved.whyInvolved.heading %>
        </h2>
        <p>
            <%= getInvolved.whyInvolved.p %>:
        </p>
        <ul>
            <% getInvolved.whyInvolved.why.map((why)=>{ %>
                <li>
                    <p><strong>
                            <%= why.heading %>:
                        </strong>
                        <%= why.text %>
                    </p>
                </li>
                <% }) %>
        </ul>
        <h2 class="display-6 pb-4 " style="text-align: center;">
            <%= getInvolved.opportunitiesToServe.heading %>
        </h2>
        <% getInvolved.opportunitiesToServe.opportunities.map((opportunities)=>{ %>
            <h3>
                <%= opportunities.heading %>
            </h3>
            <p>
                <%= opportunities.text %>
            </p>
            <% }) %>
                <h2 class="display-6 pb-4" style="text-align: center;">
                    <%= getInvolved.specialEvent.heading %>
                </h2>
                <% getInvolved.specialEvent.list.map((lists)=>{ %>
                    <h3>
                        <%= lists.heading %>
                    </h3>
                    <p>
                        <%= lists.text %>
                    </p>
                    <% }) %>
                        <h2 class="display-6 pb-4" style="text-align: center;">
                            <%= getInvolved.howToGetInvolved.heading %>
                        </h2>
                        <p class="lead">
                            <%= getInvolved.howToGetInvolved.p %>:
                        </p>
                        <ol>
                            <% getInvolved.howToGetInvolved.list.map((lists)=>{ %>
                                <li>
                                    <p><strong>
                                            <%= lists.heading %>:
                                        </strong>
                                        <%= lists.text %>.
                                    </p>
                                </li>
                                <% }) %>
                        </ol>
    </div>
    <!-- ========== Start Section of the footer ========== -->
    <%- include("partials/footer.ejs") %>