<%- include("partials/header.ejs") %>
    <!-- ========== Start  section of video banner ========== -->
    <div class="video-container">
        <video autoplay muted loop>
            <source src="./video/video-banner/history-video.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div class="video-overlay">
            <div>
                <h1 class="display-4">
                    <%= history.videoBanner.headingDisplay%>
                </h1>
                <p class="lead">
                    <%= history.videoBanner.pLead %>
                </p>
            </div>
        </div>
    </div>

    <!-- ========== End  section of video banner ========== -->
    <!-- ========== Start Section of our church history ========== -->
    <div class="container-fluid pt-4 pb-5">
        <h1 class="display-6" style="text-align: center;">
            <%= history.heading%>
        </h1>
        <div class="pt-4 ms-3">
            <h2 class="h4">
                <%= history.background.heading %>:
            </h2>
            <p>
                <%= history.background.firstP %>
            </p>
            <p>
                <%= history.background.listP.p%>:
            </p>
            <ul>
                <% history.background.listP.lists.map((list)=>{ %>
                    <li style="font-size: larger;">
                        <%= list %>.
                    </li>
                    <% }) %>
            </ul>
            <% history.background.remainingP.map((p)=>{ %>
                <p>
                    <%= p %>
                </p>
                <% }) %>
        </div>
    </div>
    <!-- ========== End Section of our church history ========== -->


    <!-- ========== Start Section of the why Question ========== -->
    <div class="container-fluid pt-4 pb-5 bg-light">
        <div class="pt-4 ms-3">
            <h2 class="h4">
                <%= history.whyGateway.heading %>
            </h2>
            <p>
                <%= history.whyGateway.p %>
            </p>
        </div>
        <!-- ========== Start Section of the Pioneer Worshippers ========== -->
        <div class="pt-4 ms-3">
            <h2 class="h4">
                <%= history.pioneerWorshippers.heading %>:
            </h2>
            <p>
                <%= history.pioneerWorshippers.p %>
            </p>
        </div>
        <!-- ========== End Section of the Pioneer Worshippers ========== -->
        <!-- ========== Start Section of the Construction of the New church building ========== -->
        <div class="pt-4 ms-3">
            <h2 class="h4">
                <%= history.churchConstruction.heading %>:
            </h2>
            <p>
                <%= history.churchConstruction.p1 %>:
            </p>
            <ul>
                <% history.churchConstruction.lists.map((li)=>{ %>
                    <li>
                        <%= li %>.
                    </li>
                    <% }) %>
            </ul>
            <p>
                <%= history.churchConstruction.p2 %>
            </p>
        </div>
        <!-- ========== End Section of the Construction of the New church building ========== -->
    </div>
    <!-- ========== End Section of the why Question ========== -->
    <!-- ========== Start Section of the headship and church shepherds ========== -->
    <div class="container-fluid pt-4 pb-5">
        <div class="pt-4 ms-3">
            <h2 class="h4">
                <%= history.headship.heading %>:
            </h2>
            <p>
                <%= history.headship.p1 %>
            </p>
            <p>
                <%= history.headship.p2 %>
            </p>
            <p>
                <%= history.headship.p3 %>:
            </p>
            <ol>
                <% history.headship.lists.map((li)=>{ %>
                    <li>
                        <%= li %>.
                    </li>
                    <% }) %>

            </ol>
            <p>
                <%= history.headship.p4 %>
            </p>
        </div>
    </div>

    <!-- ========== End Section of the headship and church shepherds ========== -->
    <!-- ========== Start Section of the card section ========== -->
    <div class="p-5 bg-body-tertiary d-flex flex-column align-items-center">
        <div class="mb-5">
            <h1 class="display-6 text-center">Download To access our church History Everytime.</h1>
        </div>
        <div class="card text-center" style="width: 18rem;">
            <img src="./images/history.jpg" class="card-img-top" alt="History Of Gateway Baptist Church">
            <div class="card-body">
                <h5 class="card-title">History of Gateway Baptist Church</h5>
                <p class="card-text">If you want to be able to access the history of our church on your phone at anytime
                    you can down load the church PDF, to get it at your comfort.</p>
                <a href="./resources/GBChistory.pdf" target="_blank" rel="noopener noreferrer"
                    class="btn btn-primary">Download
                    Now</a>
            </div>
            <div class="card-footer text-body-secondary">
                2 days ago
            </div>
        </div>
    </div>

    <!-- ========== End Section of the card section ========== -->
    <%- include("partials/footer.ejs") %>