<%- include("partials/header.ejs") %>
    <!-- ========== Start  section of video banner ========== -->
    <div class="video-container">
        <video autoplay muted loop>
            <source src="./video/video-banner/3373659-hd_1920_1080_24fps.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div class="video-overlay">
            <div>
                <h1 class="display-4">Welcome to Our Church</h1>
                <p class="lead">Join us for worship and community</p>
            </div>
        </div>
    </div>

    <!-- ========== End  section of video banner ========== -->

    <!-- ========== Start section of the welcome message ========== -->
    <div class="container-fluid  mb-5 d-flex justify-content-center bg-body-tertiary pt-5 pb-5">
        <div class="align-self-center text-center">
            <h2>
                <%= welcome.heading %>
            </h2>
            <% welcome.paragraph.map((paragraph)=>{ %>
                <p class="lead">
                    <%= paragraph %>
                </p>
                <% }) %>
                    <a class="btn btn-outline-primary" href=<%=welcome.button.url %> role="button">
                        <%= welcome.button.name%>
                    </a>
        </div>
    </div>

    <!-- ========== End section of the welcome message ========== -->



    <!-- ========== Start Section of the navigation section ========== -->
    <div class="mb-5">
        <h2 style="text-align: center;" class="display-6 pb-3"><strong>Guiding Lights of Gateway Baptist Church</strong>
        </h2>
        <div class="container">
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 justify-content-center">
                <%guidingPastors.map((pastor)=>{ %>
                    <div class="col d-flex justify-content-center">
                        <div class="card text-center" style="width: 25rem;">
                            <img src="./images/guiding-Pastors/<%= pastor.imageURL %>.jpg"
                                class="card-img-top custom-card-img" alt=<%=pastor.positionHeld %>
                            style="width: 100%; height: 350px; object-fit: cover; object-position: <%=
                                pastor.objectPosition %> ;">
                                <div class="card-footer">
                                    <small class="text-body-secondary ms-5"><strong>
                                            <%=pastor.positionHeld %>
                                        </strong></small>
                                </div>
                        </div>
                    </div>
                    <% }) %>

            </div>
        </div>
    </div>
    <!-- ========== End Section of the navigation section ========== -->
    <div class="mb-5">
        <h2 style="text-align: center;" class="display-6 pb-3"><strong>Supportive Ministry of Gateway Baptist
                Church</strong></h2>
        <div class="container">
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 justify-content-center">

                <% supportiveMistry.map((supportive)=>{ %>
                    <div class="col d-flex justify-content-center">
                        <div class="card text-center" style="width: 25rem;">
                            <img src="./images/supportive-Pastors/<%= supportive.imageURL %>.jpg"
                                class="card-img-top custom-card-img" alt=<%=supportive.positionHeld %>
                            style="width: 100%; height: 350px; object-fit: cover; object-position: <%=
                                supportive.objectPosition %> ;">
                                <div class="card-footer">
                                    <small class="text-body-secondary ms-4"><strong>
                                            <%=supportive.positionHeld %>
                                        </strong></small>
                                </div>
                        </div>
                    </div>
                    <% }) %>
            </div>
        </div>
    </div>
    </div>
    <!-- ========== Start Section of the supportive ministry ========== -->

    <!-- ========== End Section of the supportive ministry ========== -->


    <!-- ========== Start Section of the nav part ========== -->
    <div class="mt-5 mb-5 pt-4 pb-4 bg-body-tertiary">
        <h2 class="text-center display-6 pb-3"><strong>Explore Our Church</strong></h2>
        <div class="container">
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 d-flex justify-content-center">

                <div class="col d-flex justify-content-center">
                    <div class="card text-center" style="width: 18rem;">
                        <img src="./images/history.jpg" class="card-img-top" alt="History Of Gateway Baptist Church">
                        <div class="card-body">
                            <h5 class="card-title">History of Gateway Baptist Church</h5>
                            <a href="/history" class="btn btn-outline-dark">Learn More</a>
                        </div>
                    </div>
                </div>

                <div class="col d-flex justify-content-center">
                    <div class="card text-center" style="width: 18rem;">
                        <img src="./images/mission.jpg" class="card-img-top" alt="Mission Of Gateway Baptist Church">
                        <div class="card-body">
                            <h5 class="card-title">Mission of Gateway Baptist Church</h5>
                            <a href="/mission" class="btn btn-outline-dark">Learn More</a>
                        </div>
                    </div>
                </div>

                <div class="col d-flex justify-content-center">
                    <div class="card text-center" style="width: 18rem;">
                        <img src="./images/donate-pic.jpg" height="191px" class="card-img-top"
                            alt="History Of Gateway Baptist Church">
                        <div class="card-body">
                            <h5 class="card-title">Donate to Gateway Baptist Church</h5>
                            <a href="/donate" class="btn btn-outline-dark">Learn More</a>
                        </div>
                    </div>
                </div>

                <div class="col d-flex justify-content-center">
                    <div class="card text-center" style="width: 18rem;">
                        <img src="./images/children-pic.jpg" class="card-img-top"
                            alt="History Of Gateway Baptist Church">
                        <div class="card-body">
                            <h5 class="card-title">The Children Ministry</h5>
                            <a href="/children" class="btn btn-outline-dark">Learn More</a>
                        </div>
                    </div>
                </div>

                <div class="col d-flex justify-content-center">
                    <div class="card text-center" style="width: 18rem;">
                        <img src="./images/teenager-pic.jpg" class="card-img-top"
                            alt="History Of Gateway Baptist Church">
                        <div class="card-body">
                            <h5 class="card-title">The Teenagers Ministry</h5>
                            <a href="/teenager" class="btn btn-outline-dark">Learn More</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <!-- ========== End Section of the nav part ========== -->

    <!-- ========== Start Section of the map ========== -->
    <div class="ps-4  pt-5 pb-5">
        <h2>Do you want to Worship with us?</h2>
        <p class="lead">Use this Map to locate our church, and come and experience the Lord in multiple dimension</p>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3956.4042328308647!2d3.893266975001243!3d7.42043619259002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x10398d2469bd9aa7%3A0xed55e2fa30d60b64!2sGateway%20Baptist%20Church%2C%20Sango%2C%20Ibadan!5e0!3m2!1sen!2sng!4v1720267763211!5m2!1sen!2sng"
            width="98%" height="600" style="border:0;" allowfullscreen="true" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <!-- ========== End Section of the map ========== -->

    <!-- ==========  statement of faith  ========== -->
    <div class="container-fluid pb-5 bg-body-tertiary  pt-5">
        <h2 class="display-6" style="text-align: center;">
            <%= statementOfFaiths.heading %>
        </h2>
        <p class="lead">
            <%= statementOfFaiths.paragraph %>
        </p>
        <div class="accordion" id="accordionExample">
            <% statementOfFaiths.statementOfFaith.map((statement)=>{%>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse<%= statement.id %>" aria-expanded="false"
                            aria-controls="collapse<%= statement.id %>">
                            <strong>
                                <%= statement.heading %>
                            </strong>
                        </button>
                    </h2>
                    <div id="collapse<%= statement.id %>" class="accordion-collapse collapse"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>
                                <%= statement.strongText %>
                            </strong>
                            <%= statement.paragraph %>
                        </div>
                    </div>
                </div>
                <% }) %>
        </div>
    </div>
    <!-- ========= statement of faith  ========== -->
    <!-- ========== Start Section of the newsletter ========== -->
    <section class="newsletter py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 text-center">
                    <h2>
                        <%= newsLetter.heading %>
                    </h2>
                    <h2 style="color: blue;">
                        <%= newsLetter.subHeading %>
                    </h2>
                    <p>
                        <%= newsLetter.paragraph %>
                    </p>
                    <form class="row g-3 needs-validation" action="/contact">
                        <div class="col-md-9">
                            <input type="email" class="form-control" id="email" placeholder="Enter your email" required>
                        </div>
                        <div class="col-md-3">
                            <button type="submit" class="btn btn-primary w-100">Subscribe</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- ========== End Section of the newsletter ========== -->
    <!-- ========== Start Section of the footer ========== -->
    <%- include("partials/footer.ejs") %>