<%- include("partials/header.ejs") %>
    <!-- ========== Start  section of video banner ========== -->
    <div class="video-container">
        <video autoplay muted loop>
            <source src="./video/video-banner/mission-video.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div class="video-overlay">
            <div>
                <h1 class="display-4"><strong>
                        <%= mission.videoBanner.headingDisplay %>
                    </strong></h1>
                <p class="lead">
                    <%= mission.videoBanner.headingDisplay %>
                </p>
            </div>
        </div>
    </div>

    <!-- ========== End  section of video banner ========== -->
    <div class="container-fluid pt-5 pb-5">
        <h2 class="display-6" style="text-align: center;" id="topHeading">
            <%= mission.heading%>
        </h2>
        <div class="container-fluid">
            <ol>
                <li>
                    <p><strong>
                            <%= mission.greatCommission.heading %>
                        </strong></p>
                </li>
                <% mission.greatCommission.figure.map((figure)=>{ %>
                    <figure class="text-center">
                        <blockquote class="blockquote">
                            <p>"<%= figure.blockQuote %>"</p>
                        </blockquote>
                        <figcaption class="blockquote-footer">
                            <cite title="Source Title"><strong>
                                    <%= figure.blockQuoteFooter %>
                                </strong></cite>
                        </figcaption>
                    </figure>
                    <% }) %>

                        <h5>
                            <strong>
                                <%= mission.greatCommission.mission.heading %>:
                            </strong>
                        </h5>
                        <ul>
                            <% mission.greatCommission.mission.list.map((list)=>{ %>
                                <li>
                                    <%= list %>
                                </li>
                                <% }) %>
                        </ul>
                        <li>
                            <p><strong>
                                    <%= mission.departements.heading %>
                                </strong></p>
                        </li>
                        <ol type="A">
                            <% mission.departements.list.map((departements)=>{ %>
                                <li>
                                    <p>
                                        <%= departements %>.
                                    </p>
                                </li>
                                <% }) %>
                        </ol>
                        <% mission.list.map((mission)=>{ %>
                            <li>
                                <p><strong>
                                        <%= mission %>
                                    </strong>
                                </p>
                            </li>
                            <% }) %>
            </ol>
        </div>
    </div>
    <div class="p-5 bg-body-tertiary d-flex flex-column align-items-center">
        <div class="mb-5">
            <h1 class="display-6 text-center">
                <%= mission.missionPDF.heading %>
            </h1>
        </div>
        <div class="card text-center" style="width: 18rem;">
            <img src="./images/<%= mission.missionPDF.card.imageURL %>.jpg"
                style="width: 100%; height: 350px; object-fit: cover; object-position: center -1px;"
                class="card-img-top" alt="History Of Gateway Baptist Church">
            <div class="card-body">
                <h5 class="card-title">
                    <%= mission.missionPDF.card.title %>
                </h5>
                <p class="card-text">
                    <%= mission.missionPDF.card.text %>
                </p>
                <a href="./resources/<%= mission.missionPDF.card.pdfURL %>.pdf" target="_blank"
                    rel="noopener noreferrer" class="btn btn-primary">Download Now</a>
            </div>
            <div class="card-footer text-body-secondary">
                <%= mission.missionPDF.card.date %>
            </div>
        </div>
    </div>
    <!-- ========= --->
    <!-- ========== Start Section of the footer ========== -->
    <%- include("partials/footer.ejs") %>