<%- include("partials/header.ejs") %>
    <div class="video-container">
        <video autoplay muted loop>
            <source src="./video/video-banner/mission-video.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div class="video-overlay">
            <div>
                <h1 class="display-4">
                    <%= sermon.videoBanner.headingDisplay %>
                </h1>
                <p class="lead">
                    <%= sermon.videoBanner.pLead %>
                </p>
            </div>
        </div>
    </div>
    <div class="container-fluid pt-5 pb-5" style="width: 100%;">
        <h2 class="display-6 text-center">
            <%= sermon.videos.heading %>
        </h2>
        <div class="d-flex flex-column align-items-center">
            <% sermon.videos.videoURL.map((video)=>{ %>
                <iframe class="mb-4 responsive-iframe d-none d-md-block" src=<%=video %>
                    width="98%" height="700px" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                    allowfullscreen="true"></iframe>
                <iframe class="mb-4 d-block d-md-none" src=<%=video%>
                    width="98%" height="373" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                    allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture;
                    web-share" allowFullScreen="true"></iframe>
                <% }) %>
        </div>
    </div>
    <%- include("partials/footer.ejs") %>