<%- include("partials/header.ejs") %>
    <!-- ========== Start  section of video banner ========== -->
    <div class="video-container">
        <video autoplay muted loop>
            <source src="./video/video-banner/mission-video.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div class="video-overlay">
            <div>
                <h1 class="display-4"><strong>Services in our Church</strong></h1>
                <p class="lead">Learn more about the usual service of our Church</p>
            </div>
        </div>
    </div>

    <!-- ========== End  section of video banner ========== -->
    <!-- ========== Start Section of the events section ========== -->
    <!-- ========== Start Section of the sunday activies in the church ========== -->
    <div class="container-fluid pt-5 pb-5 mb-5 bg-body-tertiary">
        <h2 class="text-center mb-4 pt-3" id="topHeading">
            <%= service.topHeading %>
        </h2>
        <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center">
            <% service.sundayService.map((sundayService)=>{ %>
                <div class="col">
                    <div class="card text-center">
                        <div class="card-header">
                            <h2 class="h3"><strong>
                                    <%= sundayService.header %>
                                </strong></h2>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= sundayService.title %>
                            </h5>
                            <p class="card-text">
                                <%= sundayService.text %>
                            </p>
                        </div>
                        <div class="card-footer text-body-secondary">
                            <%= sundayService.footer %>
                        </div>
                    </div>
                </div>
                <% }) %>
        </div>
    </div>
    <!-- ========== End Section of the sunday activies in the church ========== -->
    <!-- ========== Start Section of the monday activities ========== -->
    <div class="container-fluid pt-5 pb-5 mb-5">
        <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center">
            <% service.mondayService.map((mondayService)=>{ %>
                <div class="col">
                    <div class="card text-center">
                        <div class="card-header">
                            <h2 class="h3"><strong>
                                    <%= mondayService.header %>
                                </strong></h2>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= mondayService.title %>
                            </h5>
                            <p class="card-text">
                                <%= mondayService.text %>
                            </p>
                        </div>
                        <div class="card-footer text-body-secondary">
                            <%= mondayService.footer %>
                        </div>
                    </div>
                </div>
                <% }) %>
        </div>
    </div>
    <!-- ========== End Section of the monday activities ========== -->
    <!-- ========== Start Section of the tuesday activities ========== -->
    <div class="container-fluid pt-5 pb-5 mb-5 bg-body-tertiary">
        <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center">
            <% service.tuesdayService.map((tuesdayService)=>{ %>
                <div class="col">
                    <div class="card text-center">
                        <div class="card-header">
                            <h2 class="h3"><strong>
                                    <%= tuesdayService.header %>
                                </strong></h2>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= tuesdayService.title %>
                            </h5>
                            <p class="card-text">
                                <%= tuesdayService.text %>
                            </p>
                        </div>
                        <div class="card-footer text-body-secondary">
                            <%= tuesdayService.footer %>
                        </div>
                    </div>
                </div>
                <% }) %>
        </div>
    </div>
    <!-- ========== End Section of the tuesday activities ========== -->
    <!-- ========== Start Section of wednesday activities ========== -->
    <div class="container-fluid pt-5 pb-5 mb-5">
        <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center">
            <% service.wednesdayService.map((wednesdayService)=>{ %>
                <div class="col">
                    <div class="card text-center">
                        <div class="card-header">
                            <h2 class="h3"><strong>
                                    <%= wednesdayService.header %>
                                </strong></h2>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= wednesdayService.title %>
                            </h5>
                            <p class="card-text">
                                <%= wednesdayService.text %>
                            </p>
                        </div>
                        <div class="card-footer text-body-secondary">
                            <%= wednesdayService.footer %>
                        </div>
                    </div>
                </div>
                <% }) %>
        </div>
    </div>
    <!-- ========== End Section of wednesday activities ========== -->
    <!-- ========== Start Section of Thursday activities ========== -->
    <div class="container-fluid pt-5 pb-5 mb-5 bg-body-tertiary">
        <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center">
            <% service.thursdayService.map((thursdayService)=>{ %>
                <div class="col">
                    <div class="card text-center">
                        <div class="card-header">
                            <h2 class="h3"><strong>
                                    <%= thursdayService.header %>
                                </strong></h2>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= thursdayService.title %>
                            </h5>
                            <p class="card-text">
                                <%= thursdayService.text %>
                            </p>
                        </div>
                        <div class="card-footer text-body-secondary">
                            <%= thursdayService.footer %>
                        </div>
                    </div>
                </div>
                <% }) %>
        </div>
    </div>
    <!-- ========== End Section of Thursday activities ========== -->
    <!-- ========== Start Section of the friday activities ========== -->
    <div class="container-fluid pt-5 pb-5 mb-5">
        <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center">
            <% service.fridayService.map((fridayService)=>{ %>
                <div class="col">
                    <div class="card text-center">
                        <div class="card-header">
                            <h2 class="h3"><strong>
                                    <%= fridayService.header %>
                                </strong></h2>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= fridayService.title %>
                            </h5>
                            <p class="card-text">
                                <%= fridayService.text %>
                            </p>
                        </div>
                        <div class="card-footer text-body-secondary">
                            <%= fridayService.footer %>
                        </div>
                    </div>
                </div>
                <% }) %>
        </div>
    </div>
    <!-- ========== End Section of the friday activities ========== -->
    <!-- ========== Start Section of saturday activities ========== -->
    <div class="container-fluid pt-5 pb-5 mb-5">
        <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center">
            <% service.saturdayService.map((saturdayService)=>{ %>
                <div class="col">
                    <div class="card text-center">
                        <div class="card-header">
                            <h2 class="h3"><strong>
                                    <%= saturdayService.header %>
                                </strong></h2>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= saturdayService.title %>
                            </h5>
                            <p class="card-text">
                                <%= saturdayService.text %>
                            </p>
                        </div>
                        <div class="card-footer text-body-secondary">
                            <%= saturdayService.footer %>
                        </div>
                    </div>
                </div>
                <% }) %>
        </div>
    </div>
    <!-- ========== End Section of saturday activities ========== -->
    <!-- ========== Start Section of the monthly opportunities ========== -->
    <div class="container-fluid pt-5 pb-5 bg-body-tertiary">
        <h2 class="text-center mb-4 pt-3" id="topHeading">
            <%= service.monthTopHeading %>
        </h2>
        <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center">
            <% service.monthlyService.map((monthlyService)=>{ %>
                <div class="col">
                    <div class="card text-center">
                        <div class="card-header">
                            <h2 class="h3"><strong>
                                    <%= monthlyService.header %>
                                </strong></h2>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= monthlyService.title %>
                            </h5>
                            <p class="card-text">
                                <%= monthlyService.text %>
                            </p>
                        </div>
                        <div class="card-footer text-body-secondary">
                            <%= monthlyService.footer %>
                        </div>
                    </div>
                </div>
                <% }) %>
        </div>
    </div>
    <!-- ========== End Section of the monthly opportunities ========== -->
    <!-- ========== End Section of the events section ========== -->

    <!-- ========== Start Section of the footer ========== -->
    <%- include("partials/footer.ejs") %>