<%- include("partials/header.ejs") %>
    <!-- ========== Start  section of video banner ========== -->
    <div class="video-container">
        <video autoplay muted loop>
            <source src="./video/video-banner/teenager.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div class="video-overlay">
            <div>
                <h1 class="display-4"><strong>The Teenagers Ministry</strong></h1>
                <p class="lead">Learn more about the Teenagers Ministry</p>
            </div>
        </div>
    </div>
    <div class="bg-body-tertiary pb-5 pt-5">
        <div class="container-fluid">
            <h2 class="text-center display-6" id="topHeading">
                <%= teenager.topHeading %>
            </h2>
            <p>
                <%= teenager.firstP %>
            </p>
            <h2>
                <%= teenager.h2 %>
            </h2>
            <p>
                <%= teenager.secondP %>
            </p>
            <h1 class="display-6">
                <%= teenager.offer.topHeading %>
            </h1>
            <ul>
                <% teenager.offer.list.map((lists)=>{ %>
                    <li>
                        <p><strong>
                                <%= lists.heading %>:
                            </strong> </p>
                        <p>
                            <%= lists.p %>
                        </p>
                    </li>
                    <% }) %>
            </ul>
            <h2>
                <%= teenager.activities.topHeading %>
            </h2>
            <p>
                <%= teenager.activities.p %>:
            </p>
            <ul>
                <% teenager.activities.list.map((lists)=>{ %>
                    <li>
                        <p>
                            <%= lists.heading %>: <%= lists.text %>
                        </p>
                    </li>
                    <% }) %>
            </ul>
            <h2 class="pt-5">
                <%= teenager.video.heading %>
            </h2>
            <p>
                <%= teenager.video.p %>
            </p>
            <iframe src=<%=teenager.video.iframeURL %>
                width="100%" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
                allowFullScreen="true"></iframe>
            <h2 class="pt-5">
                <%= teenager.leaders.heading %>
            </h2>
            <ul>
                <% teenager.leaders.leader.map((leader)=>{ %>
                    <li>
                        <p>
                            <strong>
                                <%= leader.name %>
                            </strong> : <%= leader.shortBio %>
                        </p>
                    </li>
                    <% }) %>
            </ul>
            <h2 class="pt-5">Join Us!</h2>
            <p>We would love for you to be a part of our Teenager Church community. Whether you are looking for a place
                to
                grow in your faith, make new friends, or find support during challenging times, we are here for you.</p>
        </div>
        <h2 class="text-center display-6 pt-5 pb-5">Check Out our Gallary</h2>
        <div class="gallary">
            <div class="gallary-grid">
                <div class="grid-item">
                    <img src="./Teenagers/IMG-10.04.31_fc165bf9.jpg" alt="">
                </div>
                <div class="grid-item">
                    <img src="./Teenagers/IMG-20240714-WA0012.jpg" alt="">
                </div>
                <div class="grid-item">
                    <img src="./Teenagers/IMG-20240714-WA0013.jpg" alt="">
                </div>
                <div class="grid-item">
                    <img src="./Teenagers/IMG-20240714-WA0014.jpg" alt="">
                </div>
                <div class="grid-item">
                    <img src="./Teenagers/IMG-20240714-WA0015.jpg" alt="">
                </div>
                <div class="grid-item">
                    <img src="./Teenagers/IMG-20240714-WA0016.jpg" alt="">
                </div>
                <div class="grid-item">
                    <img src="./Teenagers/IMG-20240714-WA0017.jpg" alt="">
                </div>
                <div class="grid-item">
                    <img src="./Teenagers/IMG-20240714-WA0018.jpg" alt="">
                </div>
                <div class="grid-item">
                    <img src="./Teenagers/IMG-20240714-WA0019.jpg" alt="">
                </div>
                <div class="grid-item">
                    <img src="./Teenagers/IMG-20240714-WA0020.jpg" alt="">
                </div>
                <div class="grid-item">
                    <img src="./Teenagers/IMG-20240714-WA0021.jpg" alt="">
                </div>
                <div class="grid-item">
                    <img src="./Teenagers/IMG-20240714-WA0022.jpg" alt="">
                </div>
                <div class="grid-item">
                    <img src="./Teenagers/IMG-20240714-WA0023.jpg" alt="">
                </div>
                <div class="grid-item">
                    <img src="./Teenagers/IMG-20240714-WA0024.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- ========== Start Section of the footer ========== -->
    <%- include("partials/footer.ejs") %>